$btn-flats:
  ".btn-link",
  ".btn-outline-primary",
  ".btn-outline-secondary",
  ".btn-outline-success",
  ".btn-outline-danger",
  ".btn-outline-warning",
  ".btn-outline-info",
  ".btn-outline-light",
  ".btn-outline-dark";

.btn,
.btn:focus,
.btn:active {
  border-width: 0;

  @include elevation(2);

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }

  #{"&:not(" + to-string($btn-flats, "):not(") + ")"} {
    @include ripple($black);
  }

  @each $flat in $btn-flats {
    &#{$flat} {
      border-width: $border-width;
      box-shadow: none;
    }
  }
}

@mixin btn-active-fix($dp) {
  @each $color, $value in $theme-colors {
    .btn {
      &:not([disabled]):not(.disabled):active,
      &:not([disabled]):not(.disabled).active,
      .show > &.dropdown-toggle {
        @include elevation($dp);
        &:focus {
          @include elevation($dp);
        }
      }
    }
  }
}

@include btn-active-fix(2);
