.form-control {
  padding-right: 0;
  padding-left: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;

  &:focus {
    margin-bottom: calc(#{$input-btn-border-width} - 2px);
    border-bottom-width: 2px;
  }

  &[disabled],
  &.disabled {
    border-bottom-style: dashed;

    &::placeholder {
      color: lighten($input-color, 25%);
    }
  }
}

.input-group .input-group-addon {
  border: 0;
  background-color: transparent;
}

@each $state in valid, invalid {
  .was-validated .form-control:#{$state}:focus,
  .was-validated .custom-select:#{$state}:focus,
  .form-control.is-#{$state}:focus,
  .custom-select.is-#{$state}:focus {
    box-shadow: none;
  }
}

.custom-control label:hover {
  cursor: pointer;
}
