.progress-bar-striped {
  @include gradient-striped();

  background-size: 1rem 1rem;
}

@keyframes progress-bar-stripes {
  from { background-position: 1rem 0; }
  to { background-position: 0 0; }
}
