.btn.btn-rounded {
  width: $input-height;
  height: $input-height;
  padding: 0;
  border-radius: 100vw;
  font-size: $font-size-base;
  text-align: center;

  i {
    font-size: $font-size-base;
    vertical-align: middle;
  }

  &.btn-sm {
    width: $input-height-sm;
    height: $input-height-sm;

    i {
      font-size: $font-size-sm;
    }
  }

  &.btn-lg {
    width: $input-height-lg;
    height: $input-height-lg;

    i {
      font-size: $font-size-lg;
    }
  }
}
