@debug $input-height;

.btn.btn-fab {
  //width: $input-height;
  width: calc(2.25rem + 0);
  //width: 2.25rem;
  //width: 100px;
  height: $input-height;
  padding: 0;
  border-radius: 100vw;
  font-size: $font-size-base;
  text-align: center;

  i {
    font-size: $font-size-base;
    vertical-align: middle;
  }

  &.btn-sm {
    width: $input-height-sm;
    height: $input-height-sm;

    i {
      font-size: $font-size-sm;
    }
  }

  &.btn-lg {
    width: $input-height-lg;
    height: $input-height-lg;

    i {
      font-size: $font-size-lg;
    }
  }
}
//
//.btn-group.btn-group-single {
//  box-shadow: none;
//
//  .btn {
//    @include elevation(2);
//  }
//}
