//
// Matilda
//

//
// Color system
//

$white: #fff !default;
$gray-50: #fafafa !default;
$gray-100: #f5f5f5 !default;
$gray-200: #eee !default;
$gray-300: #e0e0e0 !default;
$gray-400: #bdbdbd !default;
$gray-500: #9e9e9e !default;
$gray-600: #757575 !default;
$gray-700: #616161 !default;
$gray-800: #424242 !default;
$gray-900: #212121 !default;
$black: #000 !default;

$blue: #2196f3 !default;
$indigo: #3f51b5 !default;
$purple: #9c27b0 !default;
$pink: #e91e63 !default;
$red: #b00020 !default;
$orange: #f57f17 !default;
$yellow: #ffeb3b !default;
$green: #2e7b32 !default;
$teal: #009688 !default;
$cyan: #039be5 !default;

$primary: #6200ee !default;
$secondary: $gray-700 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$yiq-contrasted-threshold: 200 !default;
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;

//
// Options
//

$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-ripple: true !default; // Matilda

//
// Spacing
//

$spacer: 1rem !default;

$card-spacer-y: 0.75rem !default;
$card-spacer-x: 1.25rem !default;

$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 6),
    'cx': $card-spacer-x,
    'cxn': -$card-spacer-x,
    'cy': $card-spacer-y,
    'cyn': -$card-spacer-y
  ),
  $spacers
);

//
// Body
//

$body-bg: $white !default;
$body-color: rgba(0, 0, 0, 0.7) !default;

//
// Links
//

$link-color: $gray-900 !default;
$link-decoration: none !default;
$link-hover-color: $link-color !default;
$link-hover-decoration: none !default;

//
// Components
//

$border-width: 1px !default;
$border-color: $gray-400 !default;

$border-radius: 4px !default;
$border-radius-lg: $border-radius !default;
$border-radius-sm: $border-radius !default;

$component-active-color: $white !default;
$component-active-bg: $primary !default;

//
// Fonts
//

$font-family-base: Roboto, Helvetica, Arial, sans-serif !default;
$font-family-monospace: 'Roboto Mono', monospace !default;

$font-size-base: 1rem !default;
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * 0.875) !default;
$font-size-xs: ($font-size-base * 0.75) !default; // Matilda

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;

$text-muted: rgba(0, 0, 0, 0.54) !default;

$headings-font-weight: $font-weight-normal !default;
$headings-color: rgba(0, 0, 0, 0.95) !default;

//
// Tables
//

$table-cell-padding: 1rem !default;
$table-cell-padding-sm: 0.5rem !default;

$table-bg: transparent !default;
$table-accent-bg: rgba(0, 0, 0, 0.01) !default;
$table-hover-bg: rgba(0, 0, 0, 0.02) !default;
$table-border-color: $gray-300 !default;
$table-head-color: $text-muted !default;

$table-font: $font-weight-normal $font-size-sm $font-family-base !default; // Matilda
$table-head-font: $font-weight-bold $font-size-xs $font-family-base !default; // Matilda

//
// Buttons + Forms
//

$input-btn-focus-width: 0rem !default;
$input-btn-border-width: 0rem !default;

//
// Buttons
//

$btn-padding-multiplier-x: 1.1;
$btn-padding-multiplier-y: 0.5;

$btn-padding-y: $font-size-base * $btn-padding-multiplier-y !default;
$btn-padding-x: $font-size-base * $btn-padding-multiplier-x !default;

$btn-padding-y-sm: $font-size-sm * $btn-padding-multiplier-y !default;
$btn-padding-x-sm: $font-size-sm * $btn-padding-multiplier-x !default;

$btn-padding-y-lg: $font-size-lg * $btn-padding-multiplier-y !default;
$btn-padding-x-lg: $font-size-lg * $btn-padding-multiplier-x !default;

$btn-box-shadow: none !default;
$btn-active-box-shadow: $btn-box-shadow !default;
$btn-focus-box-shadow: $btn-box-shadow !default;

$btn-font-weight: 500 !default;
$btn-transition:
  color none,
  background-color none,
  border-color none,
  box-shadow 0.15s ease-in-out !default;

$btn-text-transform: uppercase; // Matilda

//
// Forms
//

$input-padding-x: 0rem !default;
$input-padding-x-sm: 0rem !default;
$input-padding-x-lg: 0rem !default;

$input-bg: transparent !default;
$input-disabled-bg: transparent !default;

$input-color: $body-color !default;
$input-border-color: rgba(0, 0, 0, 0.3);
$input-box-shadow: none !default;

$input-border-radius: 0rem !default;
$input-border-radius-lg: $input-border-radius !default;
$input-border-radius-sm: $input-border-radius !default;

$input-focus-bg: $input-bg !default;
$input-focus-border-color: $primary !default;
$input-focus-color: $input-color !default;

$input-placeholder-color: $gray-600 !default;
$input-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;
$input-group-addon-bg: transparent !default;

$custom-control-indicator-box-shadow: none !default;
$custom-control-indicator-checked-box-shadow: none !default;
$custom-control-indicator-focus-box-shadow: none !default;
$custom-control-indicator-active-box-shadow: none !default;
$custom-checkbox-indicator-indeterminate-box-shadow: none !default;
$custom-select-focus-box-shadow: none !default;

$custom-select-padding-y: 0.375rem !default;
$custom-select-padding-x: 0rem !default;
$custom-select-bg: transparent !default;
$custom-select-disabled-bg: transparent !default;
$custom-select-border-radius: 0rem !default;

$custom-file-text: (
  en: 'Browse',
  ru: 'Выбрать'
) !default;

//
// Dropdowns
//

$dropdown-padding-y: 0rem !default;
$dropdown-border-width: 0rem !default;
$dropdown-box-shadow: elevation-shadow(2) !default;
$dropdown-item-padding-y: 0.8rem !default;
$dropdown-item-padding-x: 1rem !default;

$dropdown-link-color: $gray-800 !default;
$dropdown-link-hover-color: darken($dropdown-link-color, 5%) !default;
$dropdown-link-hover-bg: $gray-100 !default;

$dropdown-link-active-color: $dropdown-link-hover-color !default;
$dropdown-link-active-bg: $dropdown-link-hover-bg !default;

$dropdown-link-disabled-color: $gray-600 !default;

//
// Navs
//

$nav-link-disabled-color: $gray-600 !default;

$nav-tabs-border-width: 0rem !default;
$nav-tabs-border-radius: 0rem !default;
$nav-tabs-link-active-color: $text-muted !default;
$nav-tabs-link-active-bg: transparent !default;

//
// Navbar
//

$navbar-padding-y: 1rem !default;
$navbar-padding-x: 1.5rem !default;

$navbar-dark-color: rgba($white, 0.7) !default;
$navbar-dark-hover-color: $white !default;
$navbar-dark-active-color: $white !default;

//
// Pagination
//

$pagination-color: $body-color !default;
$pagination-bg: transparent !default;
$pagination-border-width: 0rem !default;
$pagination-focus-box-shadow: none !default;
$pagination-hover-color: $pagination-color !default;
$pagination-hover-bg: transparent !default;
$pagination-active-bg: transparentize($black, 0.5) !default;
$pagination-disabled-color: $text-muted !default;
$pagination-disabled-bg: transparent !default;

//
// Cards
//

$card-border-width: 0rem !default;
$card-cap-bg: transparent !default;
$card-bg: $white !default;
$card-img-overlay-padding: 1.25rem !default;

//
// Tooltips
//

$tooltip-color: $white !default;
$tooltip-bg: transparentize($black, 0.2) !default;
$tooltip-opacity: 1 !default;

//
// Popovers
//

$popover-bg: transparentize($black, 0.2) !default;
$popover-border-width: 0rem !default;
$popover-box-shadow: none !default;
$popover-header-bg: transparentize($black, 0.6) !default;
$popover-header-color: $white !default;
$popover-body-color: $white !default;
$popover-arrow-color: $popover-bg !default;
$popover-arrow-outer-color: transparent !default;

//
// Modals
//

$modal-inner-padding: 1rem !default;
$modal-header-padding: $modal-inner-padding !default;
$modal-dialog-margin: 1rem !default;
$modal-dialog-margin-y-sm-up: 5rem !default;
$modal-content-border-width: 0rem !default;
$modal-content-box-shadow-xs: elevation-shadow(24) !default;
$modal-content-box-shadow-sm-up: elevation-shadow(24) !default;

//
// Alerts
//

$alert-border-width: 0rem !default;
$alert-bg-level: 0rem !default;

//
// Progress bars
//

$progress-bg: rgba(0, 0, 0, 0.15);
$progress-height: 5px !default;
$progress-border-radius: 0 !default;
$progress-box-shadow: none !default;

//
// TODO: List group
//

//$list-group-bg: $white !default;
//$list-group-border-color: rgba($black, 0.125) !default;
//$list-group-border-width: $border-width !default;
//$list-group-border-radius: $border-radius !default;
//
//$list-group-item-padding-y: 0.75rem !default;
//$list-group-item-padding-x: 1.25rem !default;
//
//$list-group-hover-bg: $gray-100 !default;
//$list-group-active-color: $component-active-color !default;
//$list-group-active-bg: $component-active-bg !default;
//$list-group-active-border-color: $list-group-active-bg !default;
//
//$list-group-disabled-color: $gray-600 !default;
//$list-group-disabled-bg: $list-group-bg !default;
//
//$list-group-action-color: $gray-700 !default;
//$list-group-action-hover-color: $list-group-action-color !default;
//
//$list-group-action-active-color: $body-color !default;
//$list-group-action-active-bg: $gray-200 !default;

//
// TODO: Image thumbnails
//

//$thumbnail-padding: 0.25rem !default;
//$thumbnail-bg: $body-bg !default;
//$thumbnail-border-width: $border-width !default;
//$thumbnail-border-color: $gray-300 !default;
//$thumbnail-border-radius: $border-radius !default;
//$thumbnail-box-shadow: 0 1px 2px rgba($black, 0.075) !default;

// TODO: Figures

//$figure-caption-font-size: 90% !default;
//$figure-caption-color: $gray-600 !default;

// TODO: Breadcrumbs

//$breadcrumb-padding-y: 0.75rem !default;
//$breadcrumb-padding-x: 1rem !default;
//$breadcrumb-item-padding: 0.5rem !default;
//
//$breadcrumb-margin-bottom: 1rem !default;
//
//$breadcrumb-bg: $gray-200 !default;
//$breadcrumb-divider-color: $gray-600 !default;
//$breadcrumb-active-color: $gray-600 !default;
//$breadcrumb-divider: "/" !default;

// TODO: Carousel

//$carousel-control-color: $white !default;
//$carousel-control-width: 15% !default;
//$carousel-control-opacity: 0.5 !default;
//
//$carousel-indicator-width: 30px !default;
//$carousel-indicator-height: 3px !default;
//$carousel-indicator-spacer: 3px !default;
//$carousel-indicator-active-bg: $white !default;
//
//$carousel-caption-width: 70% !default;
//$carousel-caption-color: $white !default;
//
//$carousel-control-icon-width: 20px !default;
//
//$carousel-control-prev-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23") !default;
//$carousel-control-next-icon-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23") !default;
//
//$carousel-transition: transform 0.6s ease !default;

// TODO: Close

////$close-font-size: $font-size-base * 1.5 !default;
////$close-font-weight: $font-weight-bold !default;
//$close-color: $black !default;
//$close-text-shadow: 0 1px 0 $white !default;

//
// Code
//

$code-bg: rgba(0, 0, 0, 0.07) !default; // Matilda
$code-color: $body-color !default;
$code-padding: 0 0.2rem !default; // Matilda
$code-border-radius: $border-radius !default; // Matilda

$pre-bg: rgba(0, 0, 0, 0.07); // Matilda
$pre-color: $body-color !default;
$pre-code-padding: 1rem !default; // Matilda

$kbd-bg: rgba(0, 0, 0, 0.07) !default;
$kbd-color: $body-color !default;
