// Variables
@import "variables";

// Basics
@import "bootstrap/functions";
@import "overrides/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Theme specific utilities
@import "utilities/ripple";
@import "utilities/elevation";
@import "utilities/fit";

// BS4 overrides
@import "bootstrap/root";
@import "bootstrap/print";
@import "bootstrap/reboot";

@import "bootstrap/type";
@import "overrides/type";

@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";

@import "bootstrap/tables";
@import "overrides/tables";

@import "bootstrap/forms";
@import "overrides/forms";

@import "bootstrap/buttons";
@import "overrides/buttons";

@import "bootstrap/transitions";

@import "bootstrap/dropdown";
@import "overrides/dropdown";

@import "bootstrap/button-group";
@import "overrides/button-group";

@import "bootstrap/input-group";
@import "bootstrap/custom-forms";

@import "bootstrap/nav";
@import "overrides/nav";

@import "bootstrap/navbar";
@import "overrides/navbar";

@import "bootstrap/card";
@import "overrides/card";

@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";

@import "bootstrap/alert";
@import "overrides/alert";

@import "bootstrap/progress";
@import "overrides/progress";

@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";

@import "overrides/links";


// Additional theme classes
@import "extensions/btn-fab";
@import "extensions/table-key-value";

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
}

*,
*:focus,
*:active {
  outline: none;
}
