// Variables
@import "_variables";

// Basics
@import "../vendor/bootstrap/scss/functions";
@import "overrides/_functions";
@import "../vendor/bootstrap/scss/variables";

// Theme specific utilities
@import "utilities/_ripple";
@import "utilities/_elevation";
@import "utilities/_fit";

// BS4 overrides
@import "../vendor/bootstrap/scss/mixins";
@import "../vendor/bootstrap/scss/root";
@import "../vendor/bootstrap/scss/print";
@import "../vendor/bootstrap/scss/reboot";

@import "../vendor/bootstrap/scss/type";
@import "overrides/_type";

@import "../vendor/bootstrap/scss/images";
@import "../vendor/bootstrap/scss/code";
@import "../vendor/bootstrap/scss/grid";

@import "../vendor/bootstrap/scss/tables";
@import "overrides/_tables";

@import "../vendor/bootstrap/scss/forms";
@import "overrides/_forms";

@import "../vendor/bootstrap/scss/buttons";
@import "overrides/_buttons";

@import "../vendor/bootstrap/scss/transitions";
@import "../vendor/bootstrap/scss/dropdown";

@import "../vendor/bootstrap/scss/button-group";
@import "overrides/button-group";

@import "../vendor/bootstrap/scss/input-group";
@import "../vendor/bootstrap/scss/custom-forms";

@import "../vendor/bootstrap/scss/nav";
@import "overrides/_nav";

@import "../vendor/bootstrap/scss/navbar";
@import "overrides/_navbar";

@import "../vendor/bootstrap/scss/card";
@import "overrides/_card";

@import "../vendor/bootstrap/scss/breadcrumb";
@import "../vendor/bootstrap/scss/pagination";
@import "../vendor/bootstrap/scss/badge";
@import "../vendor/bootstrap/scss/jumbotron";

@import "../vendor/bootstrap/scss/alert";
@import "overrides/_alert";

@import "../vendor/bootstrap/scss/progress";
@import "overrides/_progress";

@import "../vendor/bootstrap/scss/media";
@import "../vendor/bootstrap/scss/list-group";
@import "../vendor/bootstrap/scss/close";
@import "../vendor/bootstrap/scss/modal";
@import "../vendor/bootstrap/scss/tooltip";
@import "../vendor/bootstrap/scss/popover";
@import "../vendor/bootstrap/scss/carousel";
@import "../vendor/bootstrap/scss/utilities";

@import "overrides/_links";


// Additional theme classes
@import "extensions/_btn-fab";
@import "extensions/_table-key-value";

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
}

*,
*:focus,
*:active {
  outline: none;
}
