// Variables
@import "_variables";

// Basics
@import "bootstrap/functions";
@import "overrides/_functions";
@import "bootstrap/variables";

// Theme specific utilities
@import "utilities/_ripple";
@import "utilities/_elevation";
@import "utilities/_fit";

// BS4 overrides
@import "bootstrap/mixins";
@import "bootstrap/root";
@import "bootstrap/print";
@import "bootstrap/reboot";

@import "bootstrap/type";
@import "overrides/_type";

@import "bootstrap/images";
@import "bootstrap/code";
@import "bootstrap/grid";

@import "bootstrap/tables";
@import "overrides/_tables";

@import "bootstrap/forms";
@import "overrides/_forms";

@import "bootstrap/buttons";
@import "overrides/_buttons";

@import "bootstrap/transitions";
@import "bootstrap/dropdown";

@import "bootstrap/button-group";
@import "overrides/button-group";

@import "bootstrap/input-group";
@import "bootstrap/custom-forms";

@import "bootstrap/nav";
@import "overrides/_nav";

@import "bootstrap/navbar";
@import "overrides/_navbar";

@import "bootstrap/card";
@import "overrides/_card";

@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/jumbotron";

@import "bootstrap/alert";
@import "overrides/_alert";

@import "bootstrap/progress";
@import "overrides/_progress";

@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/utilities";

@import "overrides/_links";


// Additional theme classes
@import "extensions/_btn-fab";
@import "extensions/_table-key-value";

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
}

*,
*:focus,
*:active {
  outline: none;
}
