hr.my-6
h1.display-4(id="cards") Cards
.mat-demo
  .row
    .col-md-6
      .card.mb-3.mb-md-0
        .card-header
          ul.nav.nav-tabs.card-header-tabs
            li.nav-item
              a.nav-link.active(href) ACTIVE
            li.nav-item
              a.nav-link(href) INACTIVE
        hr.m-0
        .card-body
          p Nav tabs example is here.
          .card
            .card-body Nested cards are flat.
    .col-md-6
      .card.text-white.bg-dark
        .card-body
          h4.card-title.text-white Dark card
          p.card-text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam.
