h1.mt-5 Forms
.form-row
  .form-group.col-md-6
    input.form-control(placeholder="This is an input")
  .form-group.col-md-6
    input.form-control(placeholder="Another one")
.form-row
  .form-group.col-md-6
    input.form-control(placeholder="This input is disabled" disabled)
  .form-group.col-md-6
    .input-group.mb-3
      .input-group-prepend
        span.input-group-text $
        span.input-group-text 0.00
      input.form-control(placeholder="Addon example")
.form-row
  .form-group.col-md-6
    input.form-control.is-valid(placeholder="A valid one")
    .valid-feedback Everything is ok
  .form-group.col-md-6
    input.form-control.is-invalid(placeholder="Invalid")
    .invalid-feedback Feedback message is here
.form-row
  .form-group.col-md-6
    .custom-control.custom-checkbox
      input#customCheckbox.custom-control-input(type="checkbox" checked)
      label.custom-control-label(for="customCheckbox") Custom checkbox
  .form-group.col-md-6
    .custom-control.custom-radio
      input#customRadio1.custom-control-input(name="customRadio" type="radio" checked)
      label.custom-control-label(for="customRadio1") Custom radio 1
    .custom-control.custom-radio
      input#customRadio2.custom-control-input(name="customRadio" type="radio")
      label.custom-control-label(for="customRadio2") Custom radio 2

