hr.my-6
h1.display-4(id="forms") Forms
p.
  Basic form controls don't have any complex styling,
  borders or floating labels. It makes easy to use them as
  building blocks while creating other components.
.mat-demo
  .row
    .col-lg-7.mx-auto
      input.form-control(placeholder="Basic .form-control")
      .card.mt-3.px-2
        input.form-control.form-control-sm(placeholder="Any questions?")
      .card.mt-3.px-2
        .input-group
          .input-group-prepend
            .input-group-prepend
              .input-group-text.pl-1
                i.material-icons.text-muted search
            input.form-control.form-control-lg(placeholder="Search")

p.
  One can add simple accent line and line ripple by adding
  #[code .form-underline] element. You don't need additional classes
  for small or large inputs.
.mat-demo
  .row
    .col-lg-7.mx-auto
      .form-row
        .col-lg.mb-3.mb-lg-0
          input.form-control(placeholder="Input with a line under")
          .form-underline
        .col-lg
          input.form-control(placeholder="Disabled input" disabled)
          .form-underline

p.
  Add a custom styled label for the float label element with a
  #[code .form-float-container] and #[code .form-float] elements. You can also use
  #[code .form-float-container-filled] class to make your text field look filled.
.mat-demo
  .row
    .col-lg-7.mx-auto
      .form-row.mb-3
        .col-lg.mt-auto
          input.form-control(placeholder="Basic input")
          .form-underline
        .col-lg
          .form-float-container
            .input-group
              input.form-control(placeholder=" ")
              .form-float With float label
              .form-underline
      .form-row
        .col-lg.mb-3.mb-lg-0
          .form-float-container.form-float-container-filled
            .input-group
              input.form-control(placeholder=" ")
              .form-float Filled input
              .form-underline
        .col-lg
          .form-float-container.form-float-container-filled
            .input-group
              input.form-control.is-invalid(placeholder=" " value="Very wrong")
              .form-float .is-invalid + icon
              .input-group-append
                .input-group-text.px-3
                  i.material-icons done
              .form-underline
