h1.mt-5 Getting started
p To begin with you need to install Matilda.
pre
  code.
    npm install --save @alexquot/matilda
    yarn add @alexquot/matilda
p.
  Then you'll be able to include it in your SASS code as simple as follows.
pre
  code @import "@alexquot/matilda/scss/matilda";

