h1.mt-5 Indicators

h4.mt-4 Alerts
.row
  .col-md-6
    .alert.alert-primary Primary alert!
    .alert.alert-secondary Secondary alert!
    .alert.alert-success Success alert!
    .alert.alert-danger Danger alert!
  .col-md-6
    .alert.alert-warning Warning alert!
    .alert.alert-info Info alert!
    .alert.alert-light Light alert!
    .alert.alert-dark Dark alert!

h4.mt-4 Badges
div
  span.mr-1.mb-1.badge.badge-primary Primary
  span.mr-1.mb-1.badge.badge-secondary Secondary
  span.mr-1.mb-1.badge.badge-success Success
  span.mr-1.mb-1.badge.badge-danger Danger
  span.mr-1.mb-1.badge.badge-warning Warning
  span.mr-1.mb-1.badge.badge-info Info
  span.mr-1.mb-1.badge.badge-light Light
  span.mr-1.mb-1.badge.badge-dark Dark
.mt-2
  span.mr-1.mb-1.badge.badge-pill.badge-primary Primary
  span.mr-1.mb-1.badge.badge-pill.badge-secondary Secondary
  span.mr-1.mb-1.badge.badge-pill.badge-success Success
  span.mr-1.mb-1.badge.badge-pill.badge-danger Danger
  span.mr-1.mb-1.badge.badge-pill.badge-warning Warning
  span.mr-1.mb-1.badge.badge-pill.badge-info Info
  span.mr-1.mb-1.badge.badge-pill.badge-light Light
  span.mr-1.mb-1.badge.badge-pill.badge-dark Dark

h4.mt-4 Progress
h5.mt-3 Static variants
.progress.mt-0
  .progress-bar.bg-primary.w-50
.progress.mt-2
  .progress-bar.bg-secondary.w-75
.progress.mt-2
  .progress-bar.bg-info.w-100
h5.mt-3 And animated
.progress.mt-0
  .progress-bar.bg-success.progress-bar-animated
.progress.mt-2
  .progress-bar.bg-warning.progress-bar-animated

