hr.my-6
h1.display-4(id="indicators") Indicators
.mat-demo
  .row
    .col
      .alert.mb-0.alert-danger Danger alert
    .col
      .alert.mb-0.alert-success Success alert
    .col
      .alert.mb-0.alert-dark Dark alert

.mat-demo
  .progress.mt-0
    .progress-bar.bg-warning.w-75
  .progress.mt-2
    .progress-bar.bg-secondary.w-50
  .progress.mt-2
    .progress-bar.bg-primary.progress-bar-animated

