h1.mt-5(id="tables") Tables
table.table.table-hover.mt-4
  thead
    tr
      th #
      th First name
      th Last name
      th IP address
  tbody
    tr
      td 1
      td Jarrad
      td Worcs
      td 53.41.171.32
    tr
      td 2
      td Marco
      td Misselbrook
      td 30.117.137.108
    tr
      td 3
      td Mame
      td Say
      td 187.139.217.120
    tr
      td 4
      td Leodora
      td Pask
      td 71.46.153.146
    tr
      td 5
      td Egan
      td Allewell
      td 191.59.213.252
nav
  ul.pagination.justify-content-center
    li.page-item.disabled
      a.page-link(href) Previous
    li.page-item
      a.page-link(href) 1
    li.page-item.active
      a.page-link(href) 2
    li.page-item
      a.page-link(href) 3
    li.page-item
      a.page-link(href) Next
