hr.my-6
h1.display-4(id="theming") Theming
p.
  Matilda is a Bootstrap 4 theme. This means that you're able to use all
  the advantages of SASS variables and mixins. You can read more about
  the theming process #[a(href="https://getbootstrap.com/docs/4.0/getting-started/theming/") here].
