- var roboto = '<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">';
- var robotoMono = '<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500" rel="stylesheet">';

hr.my-6
h1.display-4(id="typography") Typography
h4.mt-4 Basics
p.
  #[a(href="https://material.io/guidelines/style/typography.html") Roboto]
  fonts are recommended, you should include them by yourself. Please, don't forget
  to include different font weights in your imports. It's recommended
  to make them look something like this.
pre
  code.
    #{roboto}
    #{robotoMono}

h4.mt-4 Headings
.text-right
  h1 Heading 1
  h2 Heading 2
  h3 Heading 3
  h4 Heading 4
  h5 Heading 5
  h6 Heading 6
  h3.
    Heading #[small.text-muted with muted text]

h4.mt-4 Example paragraphs
p.lead.mt-3.
  Lead paragraph here. Nullam quis risus eget urna mollis ornare vel eu leo.
  Cum sociis natoque penatibus et magnis.
p.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  nisi ut aliquip ex ea commodo consequat.

h4.mt-4 Quotes
blockquote.blockquote
  p.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
  footer.blockquote-footer Someone famous in #[cite(title="Source Title") Source Title]
