- var cdn = '<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@alexquot/matilda/dist/matilda.css">';

h1.display-4.mt-5(id="getting-started") Usage
p.
  To begin with you need to install Matilda. It was released in npm under
  #[a(href="https://www.npmjs.com/package/@alexquot/matilda") @alexquot/matilda]
  package. If you want you can use jsDelivr CDN, go on right to the
  #[a(href="https://www.jsdelivr.com/package/npm/@alexquot/matilda") download page].
  You can also try Matilda and copy-paste the stylesheet <link> into your
  <head> before all other stylesheets.
pre
  code #{cdn}
p.
  But if you want to customize it (e.g. change color palette) you need to install
  it and compile manually. Simply install it.
pre
  code npm install --save @alexquot/matilda
p And import in your SASS code.
pre
  code @import "@alexquot/matilda/scss/matilda";
p.
  Talking about Bootstrap, there is no need for importing it as soon as
  it's included in Matilda build. You'll likely to want to use some
  JavaScript with it. It's ok to use Matilda with official Bootstrap
  JavaScript plugins, but of course you can use something like
  #[a(href="https://valor-software.com/ngx-bootstrap/") ngx-bootstrap] or
  #[a(href="https://reactstrap.github.io/") reactstrap].
