{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./site"],
        "alias": {
          "@components": "./components",
          "@shared": "./shared"
        }
      }
    ]
  ]
}
