doctype html
html
  head
    title Matilda
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="./matilda.css")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    style.
      .mat-demo {
        background-color: rgba(0, 0, 0, 0.05);
        padding: 3rem;
        margin-bottom: 1rem;
      }
      .jumbotron p { font-size: 18px; }
  body
    nav.navbar.navbar-expand.sticky-top.navbar-dark.bg-dark
      .navbar-nav.w-100
        a.nav-link.font-weight-light(href="./index.html") MATILDA
        a.nav-link.font-weight-light(href="./docs.html") DOCS
        a.nav-link.font-weight-light.ml-auto(href="https://github.com/alexquot/matilda") GITHUB

    block content
    script.
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
      $('#discover').click(function () {
        window.location.href = './docs.html'
      })
      $('a[href]').click(function (e) {
        const h = e.target.href
        const b = e.target.baseURI
        if (h === b || h === '' || h === '#')
          e.preventDefault()
      })
