extends layouts/base.pug

block content
  .jumbotron.bg-primary.text-white
    .container
      h2 Docs
  .container.pb-5.pt-2
    include includes/getting-started.pug
    include includes/buttons.pug
    include includes/cards.pug
    include includes/forms.pug
    include includes/indicators.pug
    include includes/typography.pug
    include includes/tables.pug
    include includes/dynamic.pug
