extends layouts/base.pug

block content
  .jumbotron.jumbotron-fluid.bg-dark
    .container
      h1.display-4.text-white Docs
  .container.pb-5.pt-2
    include includes/usage
    include includes/buttons.pug
    include includes/cards.pug
    include includes/forms.pug
    include includes/indicators.pug
    include includes/typography.pug
    include includes/tables.pug
    include includes/dynamic.pug
    include includes/theming.pug
      //.col-md-3.col-lg-2.d-none.d-md-block.px-4
        nav.nav.flex-column.sticky-top.mat-menu
          a.nav-link.text-muted(href="#getting-started") Getting started
          a.nav-link.text-muted(href="#buttons") Buttons
          a.nav-link.text-muted(href="#cards") Cards
          a.nav-link.text-muted(href="#forms") Forms
          a.nav-link.text-muted(href="#indicators") Indicators
          a.nav-link.text-muted(href="#typography") Typography
          a.nav-link.text-muted(href="#tables") Tables
          a.nav-link.text-muted(href="#dynamic") Dynamic
          a.nav-link.text-muted(href="#theming") Theming
