extends layouts/base.pug

block content
  .jumbotron.jumbotron-fluid.bg-dark.text-center
    h1.font-weight-light.text-white Matilda
    p.font-weight-light.text-white Material Design theme for Bootstrap 4
    button.mt-5.btn.btn-light#discover Discover
  .container.py-5
    h1 About
    p.
      Matilda is a #[a(href="https://material.io/") Material Design] theme for
      #[a(href="https://getbootstrap.com/docs/4.0/getting-started/introduction/") Bootstrap 4].
      The goals of this project are to provide a theme that looks similar
      to Material Guidelines, but not to overdose it with complexity.
      There's also won't be any additional JavaScript plugins, so you can use
      Matilda flawlessly with any framework like Angular or React.
      Currently it's in early stage development, but one can find it's quite
      usable already.
    p For further reading please continue to the #[a(href="./docs") Docs page].
    h1.mt-5 Helping the project
    p.
      It would be nice to see any activity in project's GitHub page,
      feel free to fill issues and create pull requests. Project stars are also
      hugely respected.
