// Basics
@mixin fit-x($value, $restore-padding: false) {
  margin-left: -$value;
  margin-right: -$value;
  @if $restore-padding {
    padding-left: $value;
    padding-right: $value;
  }
}

@mixin fit-y($value, $restore-padding: false) {
  margin-top: -$value;
  margin-bottom: -$value;
  @if $restore-padding {
    padding-top: $value;
    padding-bottom: $value;
  }
}

// Card specific
// // Mixins
@mixin card-fit-x($restore-padding: false) {
  @include fit-x($card-spacer-x, $restore-padding);
}

@mixin card-fit-y-body($restore-padding: false) {
  @include fit-y($card-spacer-x, $restore-padding);
}

@mixin card-fit-y-header($restore-padding: false) {
  @include fit-y($card-spacer-y, $restore-padding);
}

// // Classes
.card-fit-x {
  @include fit-x($card-spacer-x !important, false);
}

.card-body-fit-y {
  @include fit-y($card-spacer-x !important, false);
}

.card-header-fit-y {
  @include fit-y($card-spacer-y !important, false);
}

// // -rp stands for 'restore padding'
.card-fit-x-rp {
  @include fit-x($card-spacer-x !important, true);
}

.card-body-fit-y-rp {
  @include fit-y($card-spacer-x !important, true);
}

.card-header-fit-y-rp {
  @include fit-y($card-spacer-y !important, true);
}
